{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
   This site contains variety products.
{% endblock %}
{% block content %}
<div>
  <p class="text-center my_search_content">You searched for:<b>"{{query}}"</b></p>
</div>
<div class="container">
    <div class="row mx-auto">
        {% for products in products %}

        <div class="my_bottom_margin col-9 col-sm-4 col-md-4 xol-lg-4">
            <div class="card text-center" style="min-width:18rem;">
                <div class="card">
                <a href="{{products.get_url}}"><img src="{{products.image.url}}" alt="{{products.name}}" width="250px" height="200px"></a>
            </div>
            <div>
                <h3>{{products.name}}</h3>
                <h6>{{products.price}}</h6>
                </div>
            </div>
        </div>

{% empty %}
<div class="text-center my_search_content">
    <p><b><br><br><br>0 Search Results for "{{query}}"</b></p>
</div>
{% endfor %}
</div>
{% endblock %}